
.topbar-container{
    background-color: black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    width: 100%;
    position: sticky;
}



.topbar-left{
    flex: 3;
}

.topbar-image{
    height: 50px;
    margin-right: 10px;

}

.logo-image{
    height: 140px;
    width:400px;
}