


html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

.bar-chart{
    max-width: 100%;
    padding:5px;
}

.search-chart{
    max-width: 100%;
    padding: 5px;
}

h2{
    background-color: black;
    color:whitesmoke;
    margin-top: 15px;
    padding-left: 10px;
}

.footer{
    margin-top: 5rem;
}

.page-container{
    padding-left: 1rem;
    
}